// Main titles

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 42px;
	padding-left: 700px;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	margin-top: 25px;
	font-size: 32px;
	padding-left: 700px;
}

// nav

.menu {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	font-size: 40px;
	text-transform: uppercase;
}

pre {
	font-family: 'Anonymous Pro', ;
	line-height: 1.5;
	font-size: 14px;
}

h3 {
	line-height: 1.5;
	font-family: 'Anonymous Pro', ;
	font-size: 12px;
}

h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	text-transform: uppercase;
}

h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}

.submit {
	line-height: 1.5;
	font-family: 'Anonymous Pro', ;
	font-size: 10px;

}


a {
	color: black;
	text-decoration: none;
	&:hover {
		color: grey;
		cursor: pointer;
	}
}

/* paragraphs */

p {
	line-height: 1.5;
	font-family: 'Anonymous Pro', ;
	font-size: 12px;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}